* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --h1_font: "Raleway", sans-serif;
  --blue: #0f123f;
  --orange: #f5862f;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  width: 100%;
}

.header_logo {
  float: left;
  font-family: var(--h1_font);
}
header nav {
  float: right;
}
