* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --h1_font: "Raleway", sans-serif;
  --li_font: "Raleway", sans-serif;

  --blue: #0f123f;
  --orange: #f5862f;
}
/*  */
/* HEADER*/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  width: auto;
  margin: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  align-items: baseline;
}

.header_logo {
  float: left;
  font-family: var(--h1_font);
  text-align: left;
}
header nav {
  float: right;
}
header li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: var(--li_font);
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
/*  */
/* MAIN */
main {
  display: grid;
  margin: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: var(--h1_font);
}
h1 {
  text-align: center;
  color: var(--blue);
}
hr {
  border: 1px solid var(--blue);
  margin: 2%;
}
img {
  width: 25vw;
  height: 10vh;
  object-fit: cover;
  margin: auto;
}

h2 {
  margin-top: 10vh;
  text-align: left;
}
p {
  line-height: 2em;
  margin-top: 1vh;
}
h3 {
  margin-top: 3vh;
}
.devices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: #0f123f solid 5px;
  border-radius: 5px;
  /* background-color: #0f123f75; */

  margin-top: 2vh;
  margin-bottom: 2vh;
}
Li {
  list-style: none;
}
.devices li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.devices img {
  height: 10vh;
  width: auto;
}
.orange {
  color: var(--orange);
  font-weight: bolder;
}
.drop_how {
  margin-left: 5px;
  transform: translate(0px, 0px) scale(1);
  transition: transform 0.3s;
}

.arrow_rotated {
  transform: rotate(180deg);
}
.hidden {
  display: none;
}
article p {
  display: block;
}
.types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: grey solid 5px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.top5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.top5 li {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
}

.top5 img {
  width: 10vw;
  height: auto;
}
.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.top5_article {
  margin-left: 8vw;
  margin-right: 8vw;
}
.top5 h3 {
  font-size: 1.8rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top5_h2 {
  font-size: 2em;
  text-align: center;
  color: var(--orange);
}
